<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.oseamiya.facebookbidding">
    <uses-sdk android:targetSdkVersion="31"/>
    <queries>
        <package android:name="com.facebook.katana"/>
    </queries>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application>
        <activity
                android:name="com.facebook.ads.AudienceNetworkActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:exported="false"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


    </application>
</manifest>
